body {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  background-color: #d9d0d0;
  padding-bottom: 15px;
}

footer {
  text-align: center;
  font-weight: normal;
  font-family: sans-serif;
}

.turquoise { background-color: #1abc9c; }
.emerald { background-color: #2ecc71; }
.peter { background-color: #3498db; }
.asphalt { background-color: #34495e; }
.green { background-color: #16a085; }
.sunflower { background-color: #f1c40f; }
.belize { background-color: #2980b9; }
.wisteria { background-color: #8e44ad; }
.alizarin { background-color: #e74c3c; }
.amethyst { background-color: #9b59b6; }

.lead {
  font-size: 24px;
  margin-bottom: 30px;
}

.little-bit-bigger {
  font-size: 1.2em;
}

.topthing {
  box-sizing: border-box;
  font-size: 18px;
  margin-bottom: 20px;
  padding: 70px 0 40px 0;
  background-color: #9B59B6;
  color: #fff;
  border-bottom: 10px solid rgba(129, 58, 157, .9);
  overflow: hidden;
}

.topthing a {
  color: #fff;
  text-decoration: underline;
}

.col-intro {
  padding-top: 30px;
}

.logo {
  color: #FADC66;
  margin-bottom: 30px;
}

.logo img {
  width: 80px;
}

@media (max-width: 992px) {
  .logo {
    text-align: center;
  }
}

.logo h1 {
  line-height: 45px;
  font-size: 36px;
}

h1.logo {
  background-image: url('../img/logo.png');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 80px;
  text-indent: 100px;

}

.social {
  text-align: center;
  overflow: hidden;
  padding-bottom: 20px;
}

.getstarted ol {
  margin: 20px 0 40px 0;
  padding: 0;
}

.getstarted li {
  list-style-position: inside;
  padding: 16px 8px 14px 24px;
  color: #fff;
  font-size: 19px;
}

.phone {
  position: relative;
  padding-left: 240px;
  min-height: 600px;
}

.phone::before {
  content: '';
  position: absolute;
  left: -240px;
  width: 593px;
  height: 782px;
  background-image: url('../img/iphone.png');
}

.phone-screen {
  position: absolute;
  top: 85px;
  left: 5px;
  width: 252px;
  height: 442px;
  background-color: lightblue;
  border-radius: 1px;

  background-image: url(http://media.giphy.com/media/KYOD96tSm8Ovm/giphy.gif);
  background-position: center center;
}

.therest {
  padding-bottom: 20px;
}
