body {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  background-color: #d9d0d0;
  padding-bottom: 15px;
}

footer {
  text-align: center;
  font-weight: normal;
  font-family: sans-serif;
}

hr {
  border-top: 1px solid #AEAFA5;
}

.turquoise { background-color: #1abc9c; }
.emerald { background-color: #2ecc71; }
.peter { background-color: #3498db; }
.asphalt { background-color: #34495e; }
.green { background-color: #16a085; }
.sunflower { background-color: #f1c40f; }
.belize { background-color: #2980b9; }
.wisteria { background-color: #8e44ad; }
.alizarin { background-color: #e74c3c; }
.amethyst { background-color: #9b59b6; }

.lead {
  font-size: 24px;
  margin-bottom: 30px;
}

.little-bit-bigger {
  font-size: 1.2em;
}

.topthing {
  box-sizing: border-box;
  font-size: 18px;
  margin-bottom: 20px;
  padding: 50px 0 40px 0;
  background-color: #9B59B6;
  color: #fff;
  border-bottom: 10px solid rgba(129, 58, 157, .9);
  overflow: hidden;
}

.topthing a {
  color: #fff;
  text-decoration: underline;
}

.col-intro {
  padding-top: 30px;
}

.logo {
  color: #FADC66;
  margin-bottom: 30px;
}

.logo img {
  width: 80px;
}

@media (max-width: 992px) {
  .logo {
    text-align: center;
  }
}

.logo h1 {
  line-height: 45px;
  font-size: 36px;
}

h1.logo {
  background-image: url('../img/logo.png');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 80px;
  text-indent: 100px;

}

.social {
  text-align: center;
  overflow: hidden;
  padding-bottom: 35px;
}

.social a {
  color: #fff;
  transition: color 0.25s linear;
}

.social-twitter a:hover,
.social-twitter a:active {
  color: #55ACEE;
}

.social-facebook a:hover,
.social-facebook a:active {
  color: #3A5795;
}

.social-github a:hover,
.social-github a:active {
  color: #000;
}

.getstarted ol {
  margin: 20px 0 40px 0;
  padding: 0;
}

.getstarted li {
  list-style-position: inside;
  padding: 16px 8px 14px 24px;
  color: #fff;
  font-size: 19px;
}

.phone {
  position: relative;
  padding-left: 240px;
  min-height: 600px;
}

.phone::before {
  content: '';
  position: absolute;
  top: -20px;
  left: -53px;
  width: 593px;
  height: 782px;
  background-image: url('../img/iphone-vector.png');
  background-repeat: no-repeat;
  background-size: 371px;
}

.phone-screen {
  position: absolute;
  top: 85px;
  left: 5px;
  width: 252px;
  height: 442px;
  background-color: lightblue;
  border-radius: 1px;

  background-image: url(../img/screenshot-1.png);
  background-position: center center;
  background-size: 252px;
}

.phone-screen {
  overflow: hidden;
}

.phone::after {
  content: '';
  position: absolute;
  top: -20px;
  left: -53px;
  width: 593px;
  height: 782px;
  background-image: url('../img/iphone-vector-glare.png');
  background-repeat: no-repeat;
  background-size: 371px;
}

.phone-screen figure img {
  width: 33.3333333%;
  float: left;
}

.phone-screen figure {
  position: relative;
  width: 300%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 25s slide infinite;
}

.phone-screen div.animation-container {
  cursor: pointer;
  position: relative;
  width: 300%;
  margin: 0;
  left: -1px;
  text-align: left;
  font-size: 0;
}
.phone-screen div.animation-container img {
  width: 253px;
}

.animation-container:before {
  position: absolute;
  top: 50%;
  left: 126px;
  margin-left: -25px;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(255, 255, 255, 0.7);
  border-radius: 25px;
  background-color: rgba(204, 209, 217, 0.3);
  font-family: "FontAwesome";
  content: '\f04b';
  text-align: center;
  line-height: 45px;
  font-size: 19px;
  color: #F5F7FA;
}

.phone-screen div.animation-container.play:before {
  display: none;
}

.phone-screen div.animation-container.play:after {
  color: #fff;
  background-color: #8CC152;
}

.how-to-first {
  position: absolute;
  top: 90%;
  left: 143px;
  font-size: 40px;
  color: black;
  animation: toRight 3s forwards;
  z-index: 1;
}

@keyframes slide {
  0% { left: 0%; }
  32% { left: 0%; }
  33% { left: -100%; }
  65% { left: -100%; }
  66% { left: -200%; }
  99% { left: -200%; }
  100% { left: 0%; }
}

@keyframes toRight {
  0% {
    transform: translateX(0px);
    opacity: 1;
  }
  100% {
    transform: translateX(20px);
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 0; }
}

.fadeOut {
    animation: 2s fadeOut;
    display: none;
}

.therest {
  padding-bottom: 20px;
}
